/* overall*/
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #232323;
    color: whitesmoke;
}

#header {
    position: relative;
    width: 100%;
    height: 70vh; 
    overflow: hidden;
}
/*dropout page*/ 
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #232323;
}


.header-text {
    position: relative;
    z-index: 1;
    text-align: center; 
    padding: 20px;
}

.header-text h1 {
    font-size: 40px; 
    margin-top: 10px;
}

.header-text h1 span {
    color: red;
}

.header-text p {
    font-size: 16px; 
}

.container {
    padding: 10px 5%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px; 
}

nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 20px;
}

/* About Section */
#about {
    padding: 50px 0; 
    margin-top: 5%; 
    color: #ababab;
}

.row {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.about-col-1 {
    flex-basis: 100%; 
    margin-bottom: 20px; 
}

.about-col-1 img {
    width: 80%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 100%; 
    text-align: center; 
}

.about-col-2 p {
    margin-top: 20px;
    text-align: center; 
    font-size: 18px;
    line-height: 200%;
}

.sub-title {
    font-size: 40px; 
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap; 
}

.tab-links {
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.tab-links::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    flex: 1;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

    /* .tab-contents ul li {
        list-style: none;
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
    }

    .tab-contents ul li span {
        color: #b54769;
        font-size: 14px;
    } */

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

@media (min-width: 768px) {
    #header {
        height: 100vh;
    }

    .header-text h1 {
        font-size: 60px;
    }

    .header-text p {
        font-size: 20px;
    }

    nav ul li a {
        font-size: 18px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 45%; 
    }

    .about-col-2 p {
        text-align: left; 
    }

    .tab-links {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 10px 10%;
    }

    .about-col-1 img {
        width: 100%; 
    }

    .sub-title {
        font-size: 60px;
    }
}
#projects {
    padding: 80px 0;
    background-color: #141414; 
    color: white;
}

.section-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #fff;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.project.reverse {
    flex-direction: row-reverse; /* Reverse layout for alternating design */
}

.project-text {
    flex-basis: 50%;
    padding: 20px;
}

.project-text h2 {
    font-size: 40px;
    color: #ff004f;
    margin-bottom: 20px;
}

.project-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    overflow-wrap: anywhere;
}

.project-media {
    flex-basis: 70%;
    padding: 20px;
    position: relative;
}

.project-media video, .project-media img {
    width: 100%;
    border-radius: 10px;
    display: none; 
}

.project-media video.active, .project-media img.active {
    display: block; 
}

.media-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.media-nav .dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.media-nav .dot.active {
    background-color: #ff004f;
}

@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }

    .project.reverse {
        flex-direction: column;
    }

    .project-text, .project-media {
        flex-basis: 100%;
    }

    .section-title {
        font-size: 40px;
    }

    .project-text h2 {
        font-size: 30px;
    }

    .project-text p {
        font-size: 16px;
    }
}


#certifications {
    padding: 60px 0;
    background-color: #fff;
    text-align: center;
}
#certifications h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff004f;
}

.cert-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.tab-link.active {
    background-color: #ff004f; 
    color: white;
}

.cert-content {
    display: none;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.cert-content.active {
    display: block;
}

.cert-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.cert-item img {
    max-width: 600px;
    border-radius: 2%;
    height: auto;
    justify-content: center;
    margin-right: 15px;
}

.cert-item p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .cert-item {
        flex-direction: column;
        text-align: center;
    }

    .cert-item img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .cert-tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab-link {
        margin-bottom: 10px;
    }
}
#footer {
    text-align: center;
    padding: 20px 0;
    background-color: #141414;
    color: #fff;
}

#footer .icons {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#footer .icons li {
    display: inline-block;
    margin: 0 10px;
}

#footer .icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    transition: color 0.3s ease;
}

#footer .icons a:hover {
    color: #ff004f; 
}

#footer .copyright {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#footer .copyright li {
    display: inline-block;
    margin: 0 10px;
}
#embedded-links {
    padding: 60px 0;
    background-color:#232323;
    text-align: center;
}

#embedded-links h2 {
    color: #ff004f;
    padding-bottom: 25px;
    font-size: 40px;
    margin-bottom: 20px;

}

.embed-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.embed-container iframe {
    border: none;
    width: 100%;
    max-width: 500px;
    height: 300px; 
}

@media (max-width: 768px) {
    .embed-container {
        flex-direction: column;
    }

    .embed-container iframe {
        height: 400px; 
        max-width: none;
    }
}

#get-connected {
    text-align: center;
    padding: 50px 20px;
    background: #232322;
    color: #fff;
}

#get-connected h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#get-connected hr {
    width: 60px;
    margin: 10px auto;
    border: 1px solid #fff;
}

.connect-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #0073b1; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.connect-btn:hover {
    background-color: #005582; 
    transform: translateY(-3px);
}
.language-switcher {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1rem;
    z-index: 1000;
}

.lang-btn {
    background-color: #0073b1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.lang-btn i {
    margin-left: 5px;
}

.lang-btn:hover {
    background-color: #005582;
}

/* Dropdown Menu */
.lang-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 150px;
}

.lang-menu li {
    padding: 10px;
    text-align: center;
}

.lang-menu li button {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.lang-menu li button:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
.project-media iframe, .project-media img {
    width: 100%;
    border-radius: 10px;
    display: none; 
}

.project-media iframe.active, .project-media img.active {
    display: block; 
}
